@import "compass";
@import "variables";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body.html.logged-in.navbar-administration.navbar-tray-open.navbar-fixed.navbar-vertical,
body.html.logged-in.navbar-administration.navbar-fixed.navbar-vertical,
body.html.logged-in.navbar-administration.navbar-fixed.navbar-horizontal {
  padding-top: 39px !important;
}

body.html.logged-in.navbar-administration.navbar-tray-open.navbar-fixed.navbar-horizontal {
  padding-top: 79px !important;
}

body {
  @media (max-width: $break-tablet) {
    padding: 0 !important;
  }
  .maxwidth, .container {
    max-width: 940px;
    margin: 0 auto;
  }
  #main {
    clear: both;
    position: relative;
  }
}

.navbar-fixed-top {
  margin: 0 !important;
}

header {
  border-top: 6px solid $light-primary;
  #logo img {
    margin: 24px 0;
    float: left;
    @media (max-width: $break-mobile) {
      float: none;
    }
    @media (max-width: $break-desktop) {
      max-width: 230px;
      margin: 0 auto;
      padding: 24px 0;
      display: block;
    }
  }
  #block-superfish-1 {
    float: right;
    margin-top: 30px;
    font-family: $style-font;
    @media (max-width: $break-mobile) {
      display: none;
    }
    .block__content li {
      background: none;
      font-size: 1.2em;
      a {
        color: #58585a;
        text-decoration: none;
        text-transform: uppercase;
        border: 0;
        padding: 0.5em;
        line-height: 10px;
        margin: 0 0.5em;
        @media (max-width: $break-desktop) {
          margin: 0 0.1em;
        }
        &:hover, &.active {
          @include primary-gradient-block;
        }
      }
      &.active-trail a.menuparent, &.sfHover > a {
        @include primary-gradient-block;
      }
      &.menuparent {
        & > a:hover:after, &.sfHover > a:after {
          content: " ";
          display: block;
          background: url(../images/dropdown.png);
          width: 11px;
          height: 11px;
          position: absolute;
          right: -14px;
          bottom: 0;
        }
        &.first > a:hover:after, &.first.sfHover > a:after {
          display: none !important;
        }
      }
      ul {
        background: rgba(0,0,0,0.8);
        margin: 0 0.5em;
        top: 30px;
        li a {
          margin: 0;
          line-height: 14px;
          color: white;
          font-size: 0.65em;
        }
      }
      &.first > ul {
        display: none !important;
      }
    }
  }
}

.tabs .active a,
.tabs li a:hover,
.menu-block-wrapper ul li.leaf.active a {
  @include primary-gradient-block;
}

#block-campus-switch-campus-switch {
  float: right;
  white-space: nowrap;
  vertical-align: middle;
  @media (max-width: $break-mobile) {
    float: none;
    text-align: center;
  }
  h2 {
    display: block;
    float: left;
    margin: 0;
    margin-top: 13px;
    font-size: 12px;
    line-height: 6px;
    padding: 0 4px;
    text-transform: uppercase;
    color: $light-grey;
    font-weight: normal;
    @media (max-width: $break-mobile) {
      display: none;
    }
  }
  .block__content {
    display: inline-block;
    vertical-align: middle;
    font-family: $style-font;
    p {
      clear:both;
      font-size: 14px;
      padding-top: 3px;
      text-align: center;
      margin-bottom: -6px;
      color: $text;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      margin: 0;
      padding: 0;
      a {
        float: left;
        margin: 0;
        text-transform: uppercase;
        font-size: 14px;
        background-color: $light-grey;
        padding: 4px 10px;
        margin-right: 1px;
        margin-top: 1px;
        text-decoration: none;
        color: white;
        &:hover {
          background: $light-primary;
        }
        strong {
          margin: -4px -10px;
          margin-right: -10px;
          padding: 6px 10px;
          @include primary-gradient;
          border-top: 1px solid $light-primary;
        }
      }
      div.item-list {
        display: none;
      }
    }
  }
}

/* First-visit campus selector */

.front header#header {
  background: $light-primary;
  margin-bottom: -3px;
  @media (max-width: $break-mobile) {
    background: transparent;
  }
}

#block-campus-switch-first-visit-campus-select {
  display: none;
  text-align: center;
  color: white;
  @media (max-width: $break-mobile) {
    background: $light-primary;
    margin: -20px 0 -50px;
  }
  h2.block__title {
    font-family: $style-font;
    font-weight: 200;
    margin-top: 20px;
    @media (max-width: $break-mobile) {
      padding-top: 30px;
    }
  }
  div.block__content {
    margin-top: -10px;
    @media (max-width: $break-mobile) {
      padding: 0 20px 30px;
    }
    ul {
      list-style: none;
      margin: 0;
      margin-top: 30px;
      height: 90px;
      li {
        float: left;
        width: 50%;
        cursor: pointer;
        @media (max-width: $break-mobile) {
          float: none;
          width: 100%;
        }
        img {
          margin-top: -115px;
          @media (max-width: $break-mobile) {
            display: none;
          }
        }
        &:first-child img {
          float: left;
        }
        &:last-child img {
          float: right;
        }
        a {
          font-family: $style-font;
          font-size: 20px;
          color: white;
        }
      }
    }
  }
}

.first-visit {
  #block-campus-switch-campus-switch {
    opacity: 0;
  }
}

.view-students-ministries table {
  width: 100%;
  td {
    width: 50%;
    border-sizing: border-box;
    text-align: center;
    font-family: $style-font;
    font-size: 18px;
    line-height: 35px;
    &:hover {
      background: #f5f6fa;
    }
  }
}

.section-catalyst,
.section-refuge {
  a.feed-icon {
    margin-right: -20px;
  }
  &.page-taxonomy-term {
    h1.title {
      text-indent: -9999px;
      text-overflow: hidden;
    }
    .field--name-field-logo {
      position: absolute;
      top: 10px;
      margin-left: -249px;
    }
  }
  div {
    &#block-views-ministries-location-block {
      margin-top: -20px;
      width: 240px;
    }
    &.field--name-field-subtitle {
      font-family: $style-font;
      font-size: 24px;
      line-height: 45px;
    }
    &.views-field.views-field-field-address {
      font-size: 11px;
      line-height: 25px;
    }
    &.views-field-field-meeting-time {
      font-family: $style-font;
      font-size: 18px;
      line-height: 40px;
    }
  }
  .term-listing-heading {
    margin-bottom: 20px;
  }
  article {
    h2 {
      font-family: $style-font;
    }
    ul.links {
      margin-bottom: 20px;
    }
  }
}

.page-connect-students .view-student-ministries .view-content {
  margin-left: -20px;
  text-align: center;
  .views-field-field-image {
    margin: 15px 0 10px 0;
  }
  .views-field-name {
    font-size: 18px;
  }
  .views-field-description {
    font-size: 12px;
  }
}
