@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body > .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

#views_slideshow_cycle_main_homepage_slider-page {
  background: #1d191a;
}

#views_slideshow_cycle_teaser_section_homepage_slider-page {
  margin: 0 auto;
}

.views-slideshow-controls-bottom {
  height: 70px;
  background: #bcbdc0;
  font-family: Lato;
}

@media (max-width: 568px) {
  .views-slideshow-controls-bottom { display: none; }
}

#widget_pager_bottom_homepage_slider-page {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
}

#widget_pager_bottom_homepage_slider-page > div {
  font-size: 1.4em;
  line-height: 1.1em;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 10px;
  height: 40px;
  width: 212px;
  cursor: pointer;
  color: #555;
}

#widget_pager_bottom_homepage_slider-page > div:hover {
  color: black;
}

#widget_pager_bottom_homepage_slider-page > div.active {
  background: #00aeef; /* Old browsers */
  background: -moz-linear-gradient(top,  #00aeef 0%, #0091c8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00aeef), color-stop(100%,#0091c8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #00aeef 0%,#0091c8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #00aeef 0%,#0091c8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #00aeef 0%,#0091c8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #00aeef 0%,#0091c8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aeef', endColorstr='#0091c8',GradientType=0 ); /* IE6-9 */
  color: white;
  z-index: 7;
  position: relative;
}

#widget_pager_bottom_homepage_slider-page > div.active:before {
  content: " ";
  position: absolute;
  bottom: 70px;
  margin-left: -10px;
  z-index: 6;
  display: block;
  width: 0; 
	height: 0; 
	border-left: 116px solid transparent;
	border-right: 116px solid transparent;
	border-bottom: 20px solid #00aeef;
}

#widget_pager_bottom_homepage_slider-page a {
  text-decoration: none;
  color: black;
}

#widget_pager_bottom_homepage_slider-page > div.active a {
  color: white;
}

#widget_pager_bottom_homepage_slider-page .views-field-field-subtitle {
  font-weight: bold;
  font-size: 15px;
}

#below-content {
  padding: 20px 0;
}

@media (max-width: 568px) {
  #block-views-happenings-feed-block {
    margin-top: -17px;
  }
  .front #below-content {
    padding-bottom: 3px;
  }
}

@media (min-width: 568px) {
  #mobile-navbar { display: none; }
}

#block-views-instagram-feed-block .view-header a,
#block-views-happenings-feed-block h2,
.page-node-95 h3 {
  color: white;
  font-size: 20px;
  font-family: Lato;
  text-align: center;
  background: #00aeef; /* Old browsers */
  background: -moz-linear-gradient(top,  #00aeef 0%, #0091c8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00aeef), color-stop(100%,#0091c8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #00aeef 0%,#0091c8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #00aeef 0%,#0091c8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #00aeef 0%,#0091c8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #00aeef 0%,#0091c8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aeef', endColorstr='#0091c8',GradientType=0 ); /* IE6-9 */
  padding: 10px;
  text-transform: uppercase;
  font-weight: 300;
  display: block;
  line-height: 20px;
  margin: 0;
}

#block-views-happenings-feed-block .view-content {
  background: #bcbdc0;
  height: 143px;
  padding: 20px;
}

@media (max-width: 568px) {
  #block-views-happenings-feed-block .view-content {
    height: auto;
    margin-bottom: 3px;
  }
}

#block-views-happenings-feed-block .views-field-title a {
  font-size: 18px;
  color: black;
  font-family: Lato;
  font-weight: bold;
  line-height: 30px;
}

#block-views-happenings-feed-block .views-field-view-node {
  text-align: right;
}

#block-views-happenings-feed-block .views-field-view-node a {
  color: #58585a;
  font-family: Lato;
  text-transform: uppercase;
  font-weight: bold;
}

#block-views-instagram-feed-block .view-header p,
#block-views-happenings-feed-block h2 {
  margin-bottom: 3px;
}

#block-views-instagram-feed-block .view-header a:hover {
  text-decoration: none;
}

#block-views-instagram-feed-block img {
  float: left;
  width: 20%;
}

#block-views-instagram-feed-block .views-row-1 img {
  width: 40%;
}

.titlewrap {
  background-color: #bcbdc0;
  margin-bottom: 20px;
}
@media (max-width: 979px) {
  .titlewrap {
    height: 65px;
  }
}

.title {
  padding: 10px 0;
  font-family: Lato;
}

.page-node .title {
  font-size: 32px;
  padding: 20px 0;
  margin: 0;
  display: inline-block;
  min-width: 238px;
  background: #bcbdc0;
  position: relative;
  z-index: 20;
  border-bottom:5px solid white;
  border-right: 2px solid white;
  margin-bottom: -5px;
}
.page-node.node-type-events .title {
  background: none;
  border: none;
}

.page-node .title:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0px;
  right: -40px;
  width: 0; 
  height: 0; 
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #bcbdc0;
}

.page-node .title:before {
  content: " ";
  display: block;
  position: absolute;
  top: -5px;
  right: -47px;
  width: 0; 
  height: 0; 
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 45px solid white;
}

.page-node.node-type-events .title:before,
.page-node.node-type-events .title:after {
  content: none;
}

@media (max-width: 979px) {
  .page-node .title {
    font-size: 25px;
    line-height: 25px;
    min-width: 184px;
    margin-left: 10px;
  }
  .page-node .title:after {
    border-width: 33px;
    right: -33px;
  }
  .page-node .title:before {
    border-width: 38px;
    right: -40px;
  }
}
@media (max-width: 767px) {
  .page-node .title {
    padding: 18px 0;
    margin-bottom: 0;
    background: transparent;
    border: none;
  }
  .page-node .title:after,
  .page-node .title:before {
    display: none;
  }
}

.page-node ul.tabs.tabs--primary.links--inline {
  z-index:20;
  position:relative;
  margin-right: 20px;
}

.tabs {
  float: right;
  margin: 26px 0;
  border-bottom: 0;
}

.tabs li {
  margin-right: 0;
}

.sidebar .affix {
  top: 27px;
}

.toolbar .sidebar .affix {
  top: 67px;
}

.menu-block-wrapper ul {
  margin: 0;
  font-size: 16px;
  margin-left: 20px;
}

@media (max-width: 568px) {
  .menu-block-wrapper { display: none; }
}

@media (max-width: 979px) {
  .menu-block-wrapper ul { font-size: 14px; }
}

.menu-block-wrapper ul a {
  line-height: 30px;
}

.menu-block-wrapper ul li.leaf {
  list-style: none;
  list-style-image: none;
}

.menu-block-wrapper ul li.leaf.active {
  margin: 5px 0;
  margin-left: -5px;
}

.menu-block-wrapper ul li.leaf.active a {
  padding: 5px 15px;
  position: relative;
}

.menu-block-wrapper ul li.leaf.active a:after {
  content: " ";
  display: block;
  position: absolute;
  right: -12px;
  bottom: 4px;
  width: 0; 
	height: 0; 
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	border-left: 9px solid #58585a;
}

.l-region--footer {
  background: #231f20;
  margin-bottom: -10px;
}

.l-region--footer .block__content {
  max-width: 940px;
  margin: 0 auto;
}

.l-region--footer .footer-copyright .block__content {
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0 10px 0;
  font-size: 18px;
  color: #332d2f;
}

.l-region--footer .footer-copyright a {
  color: #332d2f;
}

.l-region--footer #block-system-main-menu ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
}

.l-region--footer #block-system-main-menu ul li {
  display: inline;
  padding: 0 10px;
}

.l-region--footer #block-system-main-menu ul li ul {
  display: none;
}

.l-region--footer #block-system-main-menu ul li a {
  color: #4d4346;
  font-size: 16px;
  font-weight: bold;
  font-family: Lato;
  text-transform: uppercase;
}

.node-type-events .titlewrap {
  margin-bottom: 0;
  background: #333;
  color: whitesmoke;
}

.node-type-events #main {
  background: #1d191a;
  border-bottom: 51px solid #bcbdc0;
}

.node-type-events .field--type-image img {
  width: 65%;
  float: left;
  margin-right: 20px;
}

.node-type-events .field--name-body {
  padding: 20px 0;
  color: whitesmoke;
}

#below {
  position: relative;
}

.node-type-events .ui-tabs {
  border: 0;
  padding: 0;
  background: transparent;
  position: static;
}

.node-type-events .ui-tabs .ui-tabs-nav {
  background: transparent;
  border: 0;
  padding: 0;
  font-family: Lato;
  text-transform: uppercase;
  font-size: 20px;
}

.node-type-events .ui-tabs .ui-tabs-nav li a {
  padding: 15px 25px;
  font-weight: 300 !important;
}

.node-type-events .ui-tabs .ui-tabs-panel {
  padding: 25px 0;
}

.node-type-events div.jp-audio {
  width: auto;
}

.node-type-events div.jp-playlist {
  background: transparent;
  border: 0;
}

.node-type-events div.jp-audio div.jp-type-playlist div.jp-interface {
  float: left;
  width: 420px;
  margin-right: 25px;
}

.node-type-events .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  border-radius: 0;
  border: 0;
  background: #00aeef; /* Old browsers */
  background: -moz-linear-gradient(top,  #00aeef 0%, #0091c8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00aeef), color-stop(100%,#0091c8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #00aeef 0%,#0091c8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #00aeef 0%,#0091c8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #00aeef 0%,#0091c8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #00aeef 0%,#0091c8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aeef', endColorstr='#0091c8',GradientType=0 ); /* IE6-9 */
}

.node-type-events .ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
  color: white;
}

.node-type-events .ui-tabs-nav.ui-widget-header .ui-state-default {
  background: transparent;
  border: 0;
}

#block-quicktabs-event-toolbox {
  margin-top: -72px;
}

.node-type-events div.jp-type-playlist div.jp-playlist li {
  position: relative;
  border: 0;
}

.node-type-events div.jp-type-playlist div.jp-playlist li .views-field-filename {
  font-family: Lato;
  font-size: 17px;
}

.node-type-events div.jp-type-playlist div.jp-playlist li .views-field-duration {
  bottom: 4px;
  right: 0;
  position: absolute;
  font-size: 11px;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#ececec));
  background-image: -webkit-linear-gradient(top,#f8f8f8,#ececec);
  background-image: -moz-linear-gradient(top,#f8f8f8,#ececec);
  background-image: -ms-linear-gradient(top,#f8f8f8,#ececec);
  background-image: -o-linear-gradient(top,#f8f8f8,#ececec);
  background-image: linear-gradient(top,#f8f8f8,#ececec);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f8f8f8',EndColorStr='#ececec');
  border: 1px solid #c6c6c6;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 0 10px;
}

div.jp-interface {
  z-index: 10;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#ececec));
  background-image: -webkit-linear-gradient(top,#ffffff,#ececec);
  background-image: -moz-linear-gradient(top,#ffffff,#ececec);
  background-image: -ms-linear-gradient(top,#ffffff,#ececec);
  background-image: -o-linear-gradient(top,#ffffff,#ececec);
  background-image: linear-gradient(top,#ffffff,#ececec);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#ececec');
  border: 1px solid #bbb;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 0 10px;
}

div.jp-interface a:hover {
  text-decoration: none;
}

a.jp-mute,
a.jp-mute:hover,
a.jp-unmute,
a.jp-unmute:hover {
  background: none;
}

div.jp-audio div.jp-type-playlist a.jp-mute,
div.jp-audio div.jp-type-playlist a.jp-unmute {
  top: 30px;
  left: 345px;
  width: auto;
  height: auto;
  font-size: 14px;
}

div.jp-audio div.jp-type-playlist div.jp-volume-bar {
  left: 360px;
}

div.jp-interface ul.jp-controls a {
  text-indent: 0;
}

div.jp-audio div.jp-type-playlist div.jp-progress,
div.jp-audio div.jp-type-playlist div.jp-current-time,
div.jp-audio div.jp-type-playlist div.jp-duration {
  width: 165px;
  font-size: 9px;
}

div.jp-audio div.jp-type-playlist a.jp-play, div.jp-audio div.jp-type-playlist a.jp-pause {
  width: auto;
  height: auto;
  background: none;
  font-size: 30px;
  top: 25px;
  left: 55px;
}

div.jp-audio div.jp-type-playlist a.jp-previous {
  width: auto;
  height: auto;
  background: transparent;
  top: 30px;
}

div.jp-audio div.jp-type-playlist a.jp-next {
  width: auto;
  height: auto;
  background: transparent;
  top: 30px;
  left: 95px;
}

div.jp-audio div.jp-type-playlist a.jp-stop {
  width: auto;
  height: auto;
  background: transparent;
  top: 29px;
  left: 130px;
  font-size: 15px;
}

#qt-event_toolbox-ui-tabs3 {
  height: 231px;
}

#qt-event_toolbox-ui-tabs3 #block-locations-event-locations {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.contextual-links-region.block--quicktabs-event-toolbox {
  position: static;
}

.node-type-events .view-id-registration_form .field--name-body {
  color: black;
}

#qt-event_toolbox-ui-tabs4 {
  padding: 0;
}

.view-id-registration_form header {
  display: none;
}

.page-user .user-picture {
  float: right;
  margin-top: -20px;
  margin-left: 20px;
}

.page-user .field--name-field-title {
  font-family: Lato;
  font-size: 20px;
  margin-bottom: 15px;
}

.page-user .field--name-field-about-me {
  padding-bottom: 15px;
  max-height: 280px;
  overflow: scroll;
}

.page-user .draggableviews-processed li.views-row {
  border: 0;
}

ul.draggableviews-processed {
  margin: 0;
}

.page-user #block-views-our-staff-staff-block .views-row,
.page-user .draggableviews-processed li.views-row,
.view-our-staff .views-row,
.view-our-staff .draggableviews-processed li.views-row {
  margin: 0;
  border: 0;
  padding: 0;
  float: left;
  width: 33.333%;
  list-style: none;
  position: relative;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  overflow: hidden;
}

.view-display-id-page.view-our-staff .views-row {
  text-align: center;
}
.view-display-id-page.view-our-staff .views-row .views-field-picture img {
  -webkit-transition: all 0.5s;
  border-left: 15px solid grey;
}
.view-display-id-page.view-our-staff .views-row:hover .views-field-picture img {
  border-color: #0091c8;
}

.view-display-id-page.view-our-staff .views-row div.views-field.views-field-realname {
  font-family: Lato;
  font-size: 18px;
  padding: 5px;
}

.view-display-id-page.view-our-staff .views-row div.views-field.views-field-field-title {
  margin-top:-5px;
  margin-bottom: 10px;
  font-size: 12px;
}

.view-display-id-page.view-our-staff .views-row div.views-field-field-social {
  margin-bottom: 20px;
  margin-top: -5px;
}

.page-user #block-views-our-staff-staff-block .views-row a {
  color: rgba(255,255,255,0.7);
  font-family: Lato;
  font-size: 16px;
  -webkit-transition: all 0.5s;
}
.page-user #block-views-our-staff-staff-block .views-row:hover a {
  text-decoration: none;
  color: white;
}
.page-user #block-views-our-staff-staff-block .views-row .views-field-realname {
  position:absolute;
  bottom:	0;	
  background: rgba(0,0,0,0.5);
  width: 100%;
  text-align: right;
  padding: 2px 5px;
  box-sizing: border-box;
  -webkit-transition: all 0.5s;
}
.page-user #block-views-our-staff-staff-block .views-row:hover .views-field-realname {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform-origin: bottom right;
  -webkit-transform-origin: bottom right;
}

.page-user ul.draggableviews-grid-our_staff-staff_block {
  margin: 0;
}

.page-user #block-views-our-staff-staff-block .views-row img,
.page-user ul.draggableviews-grid-our_staff-staff_block img {
  width: 100%
}

.page-user .views-form-our-staff-staff-block .form-actions {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
}

.page-user #below {
  background: #333;
  border-top: 65px solid #1d191a;
}

.page-user #below .container {
  padding: 0;
  margin-top: -65px;
}

.page-user #block-views-our-staff-staff-block form {
  margin: 0;
}

.page-user #block-views-our-staff-staff-block ul {
  margin: 0;
}

.page-user #block-views-our-staff-staff-block .row {
  margin-left: 0;
}

.page-user #block-views-our-staff-staff-block .block__title {
  color: whitesmoke;
  padding-bottom: 5px;
  font-family: Lato;
}

/* Service Times Block */

.front #block-views-location-block .view-display-id-block_1,
.front #block-locations-campus-locations .location-bar {
  margin-top: -8px;
  background: #464344; /* Old browsers */
  background: -moz-linear-gradient(top,  #464344 0%, #231f20 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#464344), color-stop(100%,#231f20)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #464344 0%,#231f20 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #464344 0%,#231f20 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #464344 0%,#231f20 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #464344 0%,#231f20 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464344', endColorstr='#231f20',GradientType=0 ); /* IE6-9 */
  height: 65px;
}

.front #block-locations-campus-locations .location-bar {
  margin-top: 0;
}

#block-views-location-block .view-display-id-block_1 .view-content,
.front #block-locations-campus-locations .location-bar .maxwidth {
  color: white;
  font-family: Lato;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 300;
  line-height: 62px;
  max-width: 940px;
  margin: 0 auto;
}

.front #block-locations-campus-locations .location-bar p {
  float: left;
}

@media (max-width: 568px) {
  #block-views-location-block .view-display-id-block_1 .view-content {
    font-size: 16px;
  }
}

.not-front #block-views-location-block .view-display-id-block_1 .view-content {
  color: #08c;
  text-align: center;
}

.front #block-views-location-block .leaflet-container,
.front #block-locations-campus-locations .leaflet-container {
  display: none;
}

.not-front #block-views-location-block {
  margin-top: 20px;
}

.not-front #block-views-location-block .view-display-id-block_1 .get-directions {
  display: none;
}

.front #block-locations-campus-locations .location-bar .get-directions {
  float: left;
}

.front #block-views-location-block .view-display-id-block_1 a.get-directions,
.front #block-locations-campus-locations .location-bar .get-directions a {
  font-size: 12px;
  font-weight: normal;
  color: #b3abae;
  padding: 4px;
  border: 1px solid #4c494a;
  position: relative;
  top: -6px;
  margin-right: 20px;
}

@media (max-width: 568px) {
  .front #block-views-location-block .view-display-id-block_1 a.get-directions,
  .front #block-locations-campus-locations .location-bar .get-directions a {
    margin-right: 5px;
    margin-left: 5px;
    top: -1px;
  }
}

#block-views-location-block .view-display-id-block_1 a.get-directions:hover,
.front #block-locations-campus-locations .location-bar .get-directions a:hover {
  text-decoration: none;
  background: #4c494a;
  color: white;
}

.not-front #block-views-location-block .view-display-id-block_1 .social,
.not-front #block-locations-campus-locations .location-bar .social {
  display: none;
}

.front #block-views-location-block .view-display-id-block_1 .social,
.front #block-locations-campus-locations .location-bar .social {
  position:relative;
  top: -3px;
  float: right;
}

@media (max-width: 568px) {
  .front #block-views-location-block .view-display-id-block_1 .social,
  .front #block-locations-campus-locations .location-bar .social { display: none; }
}

#block-views-location-block .view-display-id-block_1 .social a,
#block-locations-campus-locations .location-bar .social a {
  display: inline-block;
  font-family: zocial;
  text-transform: none;
  color: #b3abae;
  margin: 0 5px;
  padding: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  -moz-box-shadow: inset 0 0 3px #676767;
  -webkit-box-shadow: inset 0 0 3px #676767;
  box-shadow: inset 0 0 3px #676767;
  background: #464646; /* Old browsers */
  background: -moz-linear-gradient(top,  #464646 0%, #303030 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#464646), color-stop(100%,#303030)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #464646 0%,#303030 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #464646 0%,#303030 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #464646 0%,#303030 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #464646 0%,#303030 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646', endColorstr='#303030',GradientType=0 ); /* IE6-9 */
}

#block-views-location-block .view-display-id-block_1 .social a:hover,
#block-locations-campus-locations .location-bar .social a:hover {
  text-decoration: none;
  color: white;
  -moz-box-shadow: inset 0 0 3px rgba(255,255,255,0.5);
  -webkit-box-shadow: inset 0 0 3px rgba(255,255,255,0.5);
  box-shadow: inset 0 0 3px rgba(255,255,255,0.5);
}

#block-views-location-block .view-display-id-block_1 .social a.facebook:hover,
#block-locations-campus-locations .location-bar .social a.facebook:hover {
  background: #405d98; /* Old browsers */
  background: -moz-linear-gradient(top,  #405d98 0%, #1e2d4c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#405d98), color-stop(100%,#1e2d4c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #405d98 0%,#1e2d4c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #405d98 0%,#1e2d4c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #405d98 0%,#1e2d4c 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #405d98 0%,#1e2d4c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#405d98', endColorstr='#1e2d4c',GradientType=0 ); /* IE6-9 */
}

#block-views-location-block .view-display-id-block_1 .social a.twitter:hover,
#block-locations-campus-locations .location-bar .social a.twitter:hover {
  background: #a6dde6; /* Old browsers */
background: -moz-linear-gradient(top,  #a6dde6 0%, #6d9299 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a6dde6), color-stop(100%,#6d9299)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a6dde6 0%,#6d9299 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a6dde6 0%,#6d9299 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a6dde6 0%,#6d9299 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #a6dde6 0%,#6d9299 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6dde6', endColorstr='#6d9299',GradientType=0 ); /* IE6-9 */
}

#block-views-location-block .view-display-id-block_1 .social a.youtube:hover,
#block-locations-campus-locations .location-bar .social a.youtube:hover {
  background: #de2e35; /* Old browsers */
  background: -moz-linear-gradient(top,  #de2e35 0%, #701013 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#de2e35), color-stop(100%,#701013)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #de2e35 0%,#701013 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #de2e35 0%,#701013 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #de2e35 0%,#701013 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #de2e35 0%,#701013 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de2e35', endColorstr='#701013',GradientType=0 ); /* IE6-9 */

}

#block-views-location-block .view-display-id-block_1 .social a.googleplus:hover,
#block-locations-campus-locations .location-bar .social a.googleplus:hover {
  background: #4376de; /* Old browsers */
  background: -moz-linear-gradient(top,  #4376de 0%, #24427e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4376de), color-stop(100%,#24427e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #4376de 0%,#24427e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #4376de 0%,#24427e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #4376de 0%,#24427e 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #4376de 0%,#24427e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4376de', endColorstr='#24427e',GradientType=0 ); /* IE6-9 */

}

/* END */

.page-node article .field--name-field-image,
.page-taxonomy .taxonomy-term__content .field--name-field-image {
  margin-top: -100px;
  margin-bottom: 20px;
  border-right: 5px solid white;
  position: relative;
}

.page-node.node-type-events article .field--name-field-image {
  margin-top: -20px;
}

.page-node article .field--name-field-image:after,
.page-taxonomy .taxonomy-term__content .field--name-field-image:after {
  content: " ";
  display: block;
  position: absolute;
  top: 85px;
  right: -25px;
  width: 0; 
  height: 0; 
  border-bottom: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #58585a;
}

.page-node.node-type-events article .field--name-field-image:after {
  content: none;
}

@media (max-width: 979px) {
  .page-node article .field--name-field-image,
  .page-taxonomy .taxonomy-term__content .field--name-field-image {
    margin-top: -85px;
  }
  .page-node article .field--name-field-image:after,
  .page-taxonomy .taxonomy-term__content .field--name-field-image:after {
    top: 70px;
  }
}
@media (max-width: 767px) {
  .page-node article .field--name-body {
    padding: 0 10px;
  }
  .page-node article .field--name-field-image {
    margin-top: 0;
  }
  .page-node article .field--name-field-image:after {
    display: none;
  }
  .page-node article .field--name-field-image {
    border-right: none;
  }
}

article.node--page--full {
  position: relative;
}

article.node--page--full .field--name-field-video iframe {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 695px;
  height: 251px;
}

article.node--page--full .field--name-field-image.video-player .field__item:after {
  content: " ";
  display: block;
  width: 47px;
  height: 47px;
  background: url(../images/play-button.png) top left no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -24px;
  margin-left: -24px;
}

article.node--page--full .field--name-field-image.video-player:hover {
  cursor: pointer;
}

article.node--page--full .field--name-field-image.video-player:hover .field__item:after {
  background-position: top right;
}

.block--giving-login {
  padding-top: 0;
}

.block--giving-login form {
  margin-top: 20px;
}

.block--giving-login .form-control {
  padding: 10px;
  font-size: 16px;
  height: auto;
  width: 100%;
  box-sizing: border-box;
}

.block--giving-login input[type="text"] {
  margin-bottom: -15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.block--giving-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 0px;
}

.block--giving-login .form-submit {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 7px;
}

.page-events .titlewrap .container {
  height: 10px;
  overflow: hidden;
}

.view-calendar-sidebar .views-row {
  position: relative;
}

.view-calendar-sidebar .views-field-field-ministry {
  position: absolute;
  top: 94px;
  right: 0;
  background: #231f20;
  padding: 3px 5px;
  color: white;
  font-size: 11px;
  font-family: Lato;
  text-transform: uppercase;
  font-weight: 200;
}

.view-calendar-sidebar .views-field-title {
  background: #bcbdc0;
  padding: 5px 3px;
  margin-bottom: 10px;
  text-align: center;
  font-family: Lato;
  text-transform: uppercase;
  font-weight: 300;
}

.view-calendar-sidebar .views-field-title a {
  color: #555;
}
.view-calendar-sidebar .views-field-title a:hover {
  text-decoration: none;
}

.view-calendar-sidebar .views-row:hover .views-field-title a {
  color: black;
} 

.view-calendar-sidebar div.views-row.views-row-1.views-row-odd.views-row-first {
  margin-top: -10px;
}
.view-calendar-sidebar div.views-row.views-row-4.views-row-even.views-row-last {
  margin-bottom: -40px;
}

.page-events .fc-header-title h2 {
  padding: 10px 20px 5px;
  font-family: Lato;
  font-weight: 200;
  margin: 0;
}

.page-events .fc-header-right {
  padding-top: 16px
}

.page-events th.fc-day-header {
  width: 99px;
  background: #231f20;
  border-color: #231f20;
  color: white;
  font-family: Lato;
  text-transform: uppercase;
  line-height: 25px;
}

.page-events td.fc-mon { border-left: 0; }
.page-events td.fc-sun { border-right: 0; }
.page-events .fc-last td { border-bottom: 0; }

.page-events .fc-view table {
  border: 1px solid #231f20;
}

.page-events .fc-state-highlight {
  background: #d8e9f0;
}

.page-events .fc-event-inner {
  line-height: 15px;
  padding: 2px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 200;
}

.page-events .fc-event-inner span {
  padding: 0;
}

.page-events .fc-day-number {
  font-weight: bold;
  font-size: 11px;
}

.page-events .views-exposed-form {
  position: absolute;
  width: 220px;
  margin-top: 9px;
}

.page-events .views-widget-filter-field_ministry_tid {
  padding-right: 2px;
}

.page-events .views-widget-filter-field_ministry_tid label {
  display: none;
}

.page-events .views-widget-filter-field_ministry_tid select {
  width: 120px;
  font-size: 12px;
  height: 29px;
}

.page-events .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0px;
  height: 29px;
}

a.feed-icon {
  float: right;
  margin-top: 30px
}

.view-location,
#block-locations-campus-locations {
  position: relative;
}

.view-location .views-field-field-address,
.view-locations .view-footer,
#block-locations-event-locations .location-address,
#block-locations-campus-locations .location-address {
  position: absolute;
  bottom: 65px;
  background: rgba(0,0,0,0.7);
  font-weight: 400;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 24px;
  display: none;
}

#block-locations-campus-locations .location-address {
  line-height: 70px;
}

#block-locations-campus-locations .location-address .location-description {
  font-weight: bold;
}

@media (max-width: 568px) {
  .view-location .views-field-field-address,
  .view-locations .view-footer,
  #block-locations-event-locations .location-address,
  #block-locations-campus-locations .location-address {
    font-size: 15px;
    line-height: 20px;
    padding: 10px 0;
  }
}

#block-locations-event-locations .location-address {
  bottom: 0;
  line-height: 50px;
  display: block;
}

.view-location .views-field-field-address a,
.view-locations .view-footer a,
#block-locations-event-locations .location-address a,
#block-locations-campus-locations .location-address a {
  color: whitesmoke;
}

.leaflet-control-attribution {
  display: none;
}

.page-user div#main-content {
  position: relative;
}

.page-user .field--name-field-social {
  position: absolute;
  top: -20px;
  right: 0;
  padding: 10px 10px 3px;
  background: rgba(255,255,255,0.8);
}

.page-user .field--name-field-social img {
  margin-bottom: 7px;
}

.page-node-95 div#block-locations-campus-locations {
  position: absolute;
  top: 0px;
  width: 700px;
}

.page-node-95 .leaflet-control-container {
  display: none;
}

.page-node-95 article.node {
  margin-top: 240px;
}

.page-node-95 .views-field-field-address,
.page-node-95 #block-locations-campus-locations .location-address {
  display: block;
  bottom: 0;
}

.page-node-95 .row-fluid {
  text-align: center;
}

.page-node-95 h3 {
  border-bottom: 3px solid white;
  margin-bottom: 10px;
}

.page-node-95 .span4 {
  background: #bcbdc0;
  height: 100px;
}

.page-node-95 p {
  font-size: 105%;
}

.page-node-95 a {
  color: #333;
}

#block-mediaplayer-media-player-referenced ul {
  margin: 0;
}

#block-mediaplayer-media-player-referenced li {
  width: 50%;
  float: left;
  list-style: none;
  box-sizing: border-box;
}

#block-mediaplayer-media-player-referenced iframe {
  max-width: 100%;
  margin-top: 20px;
}

#block-mediaplayer-media-player-referenced li.even {
  padding-left: 10px;
}

#block-mediaplayer-media-player-referenced li.odd {
  padding-right: 10px;
}

#qt-event_toolbox-ui-tabs2 {
  padding-top: 0;
}
